html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #503C3C;
    background-image: linear-gradient(0deg, transparent 24%, rgb(0, 0, 0) 25%, black 26%), 
                      linear-gradient(90deg, transparent 24%, black 25%, black 26%,);
    background-size: 50px 50px;}
.list {
    display: flex;
    align-items: center;
    gap: 10px;
    transform-style: preserve-3d;
    transform: perspective(500px) scaleZ(2.5);

}
.list .item {
    transition: .5s;
    filter: brightness(0);
    transform-origin: center;
}
.list .item img {
    width: 105px;
    height: 140px;
}
.list .item:hover {
    filter: brightness(1);
    transform: translateZ(100px);
}
.list .item:hover +*{
    filter: brightness(0.6);
    transform: translateZ(80px);
}
.list .item:hover +*+*{
    filter: brightness(0.4);
    transform: translateZ(50px);
}
.list .item:hover +*+*+*{
    filter: brightness(0.2);
    transform: translateZ(30px);
}
.list .item:has(+ *:hover) {
    filter: brightness(0.6);
    transform: translateZ(80px);
}
.list .item:has(+ * +*:hover) {
    filter: brightness(0.4);
    transform: translateZ(50px);
}
.list .item:has(+*+*+*:hover){
    filter: brightness(0.2);
    transform: translateZ(30px);
}

@media(max-width:768px) {
    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        position: static;
        transform: flat;
        justify-items: center;
    }
    .list .item:hover {
        transform: scale(1.5); /*Increased zoom effect */
    }
    .list .item:has(+*:hover),
    .list .item:has(+*+*:hover),
    .list .item:has(+*+*+*:hover) {
        transform: none;
    }
}
